* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

.layOut {
  display: grid;
  grid-template-areas: "header""main""footer";
  height: 100%;
  grid-template-rows: 55px 1fr 55px;
}



main {
  grid-area: main;
}

.mainSec {
  display: flex;
  justify-content: space-between;
}

.mainSec .productInfo {
  width: 67%;
}

.mainSec .filterInfo {
  width: 30%;
}